.SubmitFile > .submit {
    font-size: 20px;
    padding: 10px;
  }
 .title {
    background-color: black;
    width:99vw;
    height:45vw;
  }
  
  input {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .title h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    position: absolute;
    top:150px;
    right:470px;
    text-align: center;
    color:white; 
    font-weight: bold;

    
  }
  .cloud {
    position: relative;
    bottom:100px;
    left:-10px;
    height:450px;
    width:850px;
  }