.SubmitFile > .submit {
    font-size: 20px;
    padding: 10px;
  }
 .title {
    width:99vw;
    height:45vw;
  }
  
  input {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .title h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    position: absolute;
    top:150px;
    right:470px;
    text-align: center;
    color:black; 
    font-weight: bold;

    
  }

  p {
    color:black;
  }
  .file {
    color:black;
  }
  .list {
    bottom:10px;
    color: black;
  }