body {
  background-color:white;
}
  .landing > *:first-child {
    width: 50%;
    margin-left: 2rem;
  }
  .landing {
    display:flex;
    justify-content:center;
    margin:0;
    position:relative;
    top:250px;
    text-align: center;

  }
  .landing{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight:700;
    background: -webkit-linear-gradient(#41EAD4, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*
  .landing2{
    margin:6px;
    position:relative;
    right:300px;
    top:140px;
    font-size:25px;
    font-weight: 400;
    color:blue;
    font-family: 'Open Sans', sans-serif;
  }
*/
  .list {
    color: white;
    /*position: relative;
    top: 20px;
    left:50px;*/

  }