.home > h1 {
  color: white;
  font-size: 150px;
  position: relative;
  left: -400px;
}

.home {
  background-color: rgb(62, 62, 255);
  width:100vw;
  height:45vw;
  display:flex;
  justify-content:center;
}


.main {
  position: relative;
  top: 350px;
  left: 390px;
  height:450px;
  width:450px;
}

