.navbar {
	height: 80px;
	background:black;
	color:#f2f6fc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
}
.logo {
    height:80px;
    width:100px;
    position:relative;
    left:20px;

}
.nav-logo-container {
	display: flex;
	align-items: center;
}
.nav-logo {
	text-decoration: none;
	color:#f2f6fc;
    font-weight: bold;
    font-size:25px;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color:#f2f6fc;
	transition: 0.3s all;
    font-weight: bold;
}

.nav-link:hover {
	color:#3500d3;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
	}

	.nav-links.active {
		background: blue;
		left: 0;
	}

	.nav-item {
		padding: 10px 0;
		border-top: 1px solid red;
		border-bottom: 1px solid red;
	}

	.nav-icon {
		display: flex;
	}
}